body{
    background-image: url(./white-clouds-blue-background_23-2148964575.avif);
    background-repeat: no-repeat;
    background-size: cover;
  
}

.input{
text-align: center;
}
input{
    height: 30px;
    width:250px ;
    border-radius: 4px;
}
button{
    color: white;
    background-color: rgb(5, 60, 77);
    border: none;
    border-radius: 4px;
    height: 30px;
    margin-left: 20px;
}
.header{
background-color: lightblue;
 border-radius: 4px;
display: flex;
justify-content: space-between;
margin: 20px 0;
width: 80%;
justify-self: center;
align-items: center;
}
.header h3{
margin: 10px 20px;
    width: fit-content;
  

}
.header h2{
    width: fit-content;
   margin: 10px 20px;
}
.main{
display: grid;
grid-template-columns: auto auto auto auto ;
column-gap: 50px;
row-gap: 30px;

}

.cards{ 
    margin: 20px  ;
    border: solid black;
    border-radius: 4px;
    padding: 10px;
}
.cards img{
    width: 10vh;
    height: 10vh;
}
