body{
    background-image: url(./white-clouds-blue-background_23-2148964575.avif);
    background-repeat: no-repeat;
    background-size: cover;
  
}

.input{
text-align: center;
}
input{
    height: 30px;
    width:250px ;
    border-radius: 4px;
}
button{
    color: white;
    background-color: rgb(5, 60, 77);
    border: none;
    border-radius: 4px;
    height: 30px;
    margin-left: 20px;
}
.header{
background-color: lightblue;
width: 80%;
margin: 5px 0  5px 200px;
}
.header h3{
float: right;
    width: fit-content;
    margin: 0 00px 0 800px  ;

}
.header h2{
    width: fit-content;
    margin: 10PX 0;
}
.main{
display: grid;
grid-template-columns: auto auto auto auto auto;
column-gap: 50px;
row-gap: 30px;

}

.cards{
    width: 35vh;
    height: 42vh;
    margin: 20px  ;
    border: solid black;
}
.cards img{
    width: 10vh;
    height: 10vh;
}
